body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 300;
  background-color: #4A90E2;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
optgroup,
select,
textarea {
  font-family: sans-serif; 
  font-size: 100%;
  line-height: 1.15; 
  margin: 0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
